<head>
    <meta property="og:site_name" content="{{ imageid.date }}">
    <meta name="theme-color" content="#c9184a">
    <meta name="author" content="Alienwarez#0711">


    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="/static/{{ imageid.id }}{{ imageid.extension }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ imageid.filename }}">
    <meta property="og:description" content="">
    <meta property="og:image" content="/static/{{ imageid.id }}{{ imageid.extension }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="i.home.jozefb.co.uk">
    <meta property="twitter:url" content="https://DOMAIN.COM/{{ imageid.extension }}">
    <meta name="twitter:title" content="{{ imageid.filename }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="/static/{{ imageid.id }}{{ imageid.extension }}">
    <meta name="twitter:image:src" content="/static/{{ imageid.id }}{{ imageid.extension }}">


</head>
<!DOCTYPE html>
<html>
<head>
    <title>{{ imageid.filename }}</title>
</head>
<body>
    <img src="/static/{{ imageid.id }}{{ imageid.extension }}" alt="User Image">
</body>
</html>